/* InternationalDataStyles.css */

.international-container {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 2rem 4rem 2rem;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide.active {
  display: block;
  animation: fadeIn 1s ease-in-out; /* Add a fade-in effect */
}

.content-container {
  display: flex;
}

.left-content {
  float: left;
  width: 50%;
}

.left-content img {
  width: 100%;
  height: auto;
}

.right-content {
  float: right;
  width: 50%;
}

/* Add more styles as needed */
